.TechnoTronTextBoxDiv {
  width: 370px;
  height: 180px;
  border: 3px solid rgb(108, 249, 56);
  margin: 20px 20px 0px 20px;

  box-shadow: 0 0 13px rgba(108, 249, 56, .7);

  text-align: left;
  padding: 10px 0 10px 0;
}


.TechnoTronTextBoxDiv p {
  margin: 0px 20px;
}
